body {
  margin: auto;
  padding: 0;
  background-color: #778391;
}

.selectContainer {
  min-height: 400px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #DAF8FC;
  color: #006699;
  padding: 6px;
  font-size: 28px;
  border: none;
  width: 90%;
  border-radius: 10px;
  font-weight: bold;
  transform: translateX(5%);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: 2vh;
  margin-bottom: 10vh;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 70%;
  border-radius: 10px;
  max-height: 300px;
  overflow: auto;
  min-width: 300px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 10px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #9edfe7;
}

/* Start the game button */
.startGame {
  margin-top: 5vh;
  margin-right: 6%;
  background-color: #DAF8FC;
  border-radius: none;
  float: right;
  color: #006699;
  font-weight: bold;
}

.startGame:hover {
  background-color: #9edfe7;
  color: #006699;
}

body {
  background: #778391;
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  background-color: #2D3339;
  color: white;
}
.head a {
  text-decoration: none;
  color: inherit;
  padding: 0 10px;
}

.questionContent {
  background: white;
  padding: 0;
  margin: 10px 0;
  border-radius: 10px 10px;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
}
.questionContent .questionHead {
  background: #DAF8FC;
  width: 100%;
  border-radius: inherit;
  padding: 8px 14px 6px 14px;
  color: #006699;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.questionContent .questionHead #correct {
  color: green;
}
.questionContent .questionHead #incorrect {
  color: #b84343;
}
.questionContent .questionHead input {
  background-color: #006699;
  color: white;
  border: 1px solid #006699;
  border-radius: 20px;
  font-size: 14px;
  height: 25px;
}
.questionContent .question p {
  font-weight: bold;
  padding: 9px 0 0 14px;
  margin: 0;
}
.questionContent .questionOptions {
  padding: 20px;
}

.timer {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  height: 25px;
  background: #DAF8FC;
  color: #006699;
  border: 1px solid #2D3339;
  border-radius: 5px;
}

.complete {
  display: flex;
  justify-content: center;
}

.footer {
  position: fixed;
  width: 102%;
  bottom: 0;
}
.footer .foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  background-color: #2D3339;
  color: white;
  height: 40px;
}
.footer .foot a {
  text-decoration: none;
  color: inherit;
  padding: 0 10px;
}
.footer .foot p {
  margin-bottom: 0;
}
.footer .foot input {
  background: #DAF8FC;
  color: #006699;
  border: 1px solid #2D3339;
}

.statContent {
  background: white;
  padding: 0;
  margin: 10px 0;
  border-radius: 10px 10px;
  margin-bottom: 40px;
  width: 90%;
  transform: translateX(5%);
}
.statContent .statHead {
  background: #DAF8FC;
  width: 100%;
  border-radius: inherit;
  padding: 8px 14px 6px 14px;
  color: #006699;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.statContent .statInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  flex-direction: column;
  padding: 5px;
}
.statContent .statInfo p {
  font-size: 20px;
  margin: 0;
}

.testButton {
  width: 100px;
  height: 50px;
}

/*# sourceMappingURL=styles.css.map */
