@import 'selectStyles';


$gunmetal: #2D3339;
$slategray: #778391;
$lightcyan: #DAF8FC;
$tuftsblue: #508FCE;
$sapphireblue: #006699;
$incorrectRed: rgb(184, 67, 67);

@mixin header-and-footer {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
    background-color: $gunmetal;
    color: white;
    //styling links inside the header   
    a {
    text-decoration: none;
    color: inherit;
    padding: 0 10px;
    }
}

html {
    height: 100%;
    width:100%; 
}

body {
    background: $slategray;
    height: 100%;
    width:100%;
}

.container-fluid { //styling to center the questions when taking the quiz
    height: 80%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}


.header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    margin-left: 0px;
    margin-right: 0px;
}

.head {
    @include header-and-footer()
}

#carouselControls { //styling for the carousel next/previous button
    a {
        width: 10%;
        margin: 5px;

    }
    a:hover {
        border: 1px solid rgb(187,192,199);
        border-radius: 30px;
    }
}


//styling for questions
.questionContent {
    background: white;
    width: 80%;
    padding: 0;
    margin: 15px auto;
    border-radius: 10px 10px;
    width:80%;
    margin-top:20px;
    margin-bottom:40px;
    .questionHead {
        background: $lightcyan;
        width: 100%;
        border-radius:inherit;
        padding: 8px 14px 6px 14px;
        color: $sapphireblue;
        display:flex;
        justify-content: space-between;
        align-items: center;
        .correct { 
            color: green;
            font-size: 22px;
        }
        .incorrect {
            color: $incorrectRed;
            font-size: 22px;
        }
        .alert {
            color: rgb(235, 29, 29);
            font-size: 22px;
            margin-bottom: 8px;
        }
        input {
            background-color: $sapphireblue;
            color: white;
            border: 1px solid $sapphireblue;
            border-radius: 20px;
            font-size: 14px;
            height: 25px;
        }
    }
    .question p {
        font-weight: bold;
        padding: 9px 0 0 14px;
        margin: 0;
    }
    .questionOptions {
        padding: 20px;
        .col.answers {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            label {
                display:flex;
                justify-content: space-around;
                align-items: center;
                padding: 10px;
            }
        }
        span:nth-child(2) { //styled so that all the answers aren't red
            margin-left: 10px;
            color: $incorrectRed;
            text-decoration: underline;
        }
    }
}

 #scoreContainer { //styling for active counter on questions page
    background: $lightcyan;
    color: $sapphireblue;
    padding: 10px 0;
    margin: 15px auto;
    border-radius: 10px 10px;
    width:60%;
    display: flex;
    gap: 10px;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
 }

// styles for timer
.timer {
    display:flex;
    justify-content: center;
    margin: 10px auto;
    height: 25px;
    background: $lightcyan;
    color: $sapphireblue;
    border: 1px solid $gunmetal;
    border-radius: 5px;
}

.complete {
    display:flex;
    justify-content: center;

}

.footer {
    position: fixed;
    width: 100%;
    bottom:0;
    left: 0;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    .foot {
        @include header-and-footer;
        height: 40px;
        p {
            margin-bottom: 0;
        }
        input {
            background: $lightcyan;
            color: $sapphireblue;
            border: 1px solid $gunmetal;
        }
    }
}


// Styling for stat page
.statsContainer {
    min-height:1900px;
}

.statContent {
    background:white;
    padding:0;
    margin: 10px 0;
    border-radius: 10px 10px;
    margin-bottom:40px;
    width:90%;
    transform:translateX(5%);
    .statHead {
        background: $lightcyan;
        width: 100%;
        border-radius:inherit;
        padding: 8px 14px 6px 14px;
        color: $sapphireblue;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .statInfo {
        display:flex;
        justify-content:center;
        align-items:center;
        min-height:100px;
        flex-direction:column;
        padding:5px;
        p {
            font-size:20px;
            margin:0;
        }
    }
}

.testButton {
    width:100px;
    height:50px;
}

.recentGame {
    background:white;
    padding:0;
    margin: 10px 0;
    border-radius: 10px 10px;
    margin-bottom:40px;
    width:90%;
    transform:translateX(5%);
    .gameHeader {
        background: $lightcyan;
        width: 100%;
        border-radius:inherit;
        padding: 8px 14px 6px 14px;
        color: $sapphireblue;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .gameContainer {
        display:flex;
        justify-content:center;
        align-items:center;
        min-height:100px;
        flex-direction:column;
        padding:5px;
    }
 }
